/*
 * Theme Style
 */

:root {
    --v3-table-border-color: #DCDFE6;
    --v3-table-line-height: 1.5rem;
    --v3-table-link-color: #007bff;
    --v3-table-button-bg: #fff;
    --v3-table-button-hover-bg: #f8f9fa;
    --v3-table-button-color: #545454;
    --v3-table-button-border-radius: 3px;
    --v3-table-button-font-size: .875rem;
    --v3-table-button-min-width: 3rem;
    --v3-table-button-padding: calc((var(--v3-table-line-height) - var(--v3-table-body-font-size) - 2px) / 2) 1rem;
    --v3-table-select-border-radius: 3px;
    --v3-table-select-padding: calc((var(--v3-table-line-height) - var(--v3-table-body-font-size) - 2px) / 2) .5rem;
    --v3-table-text-color: #545454;
    --v3-table-action-box-padding: .5rem;
    --v3-table-actions-expander-padding: .3125rem;
    --v3-table-actions-expander-icon-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 9l6 6l6 -6"></path></svg>');
    --v3-table-actions-expander-icon-height: .875rem;
    --v3-table-actions-expander-icon-width: .875rem;
    --v3-table-actions-dropdown-bg: #fff;
    --v3-table-actions-dropdown-min-width: 6rem;
    --v3-table-actions-dropdown-z-index: 999999;
    --v3-table-actions-dropdown-action-bg: #fff;
    --v3-table-actions-dropdown-action-font-size: .75rem;
    --v3-table-actions-dropdown-action-padding: .3125rem .5rem;
    --v3-table-actions-dropdown-action-hover-bg: #f8f9fa;

    --v3-table-toolbar-bg: linear-gradient(#f4f5f8, #f1f3f6);
    --v3-table-toolbar-font-size: .75rem;
    --v3-table-toolbar-padding: .5rem .75rem;
    --v3-table-toolbar-gap: 2rem;
    --v3-table-toolbar-actions-gap: 1rem;

    --v3-table-header-checked-status-color: #999;
    --v3-table-header-lv1-bg: linear-gradient(#f4f5f8, #f1f3f6);
    --v3-table-header-lv2-bg: linear-gradient(#f4f5f8, #f1f3f6);
    --v3-table-header-color: #545454;
    --v3-table-header-font-size: .875rem;
    --v3-table-header-font-weight: 400;
    --v3-table-header-sort-icon-height: .875rem;
    --v3-table-header-sort-icon-width: .875rem;
    --v3-table-header-sort-icon-url: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-up-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 3l0 18" /><path d="M10 6l-3 -3l-3 3" /><path d="M20 18l-3 3l-3 -3" /><path d="M17 21l0 -18" /></svg>');
    --v3-table-header-sort-asc-icon-url: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M16 9l-4 -4" /><path d="M8 9l4 -4" /></svg>');
    --v3-table-header-sort-desc-icon-url: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M16 15l-4 4" /><path d="M8 15l4 4" /></svg>');
    --v3-table-header-actions-font-size: .75rem;
    --v3-table-header-actions-width: 6rem;

    --v3-table-body-color: #545454;
    --v3-table-body-font-size: .875rem;
    --v3-table-body-font-weight: 400;

    --v3-table-row-bg: #fff;
    --v3-table-row-even-bg: #f6f6f7;
    --v3-table-row-hover-bg: #fff3e0;
    --v3-table-row-activated-bg: #e3f2fd;

    --v3-table-footer-bg: #f4f5f8;
    --v3-table-footer-padding: .5rem .75rem;
    --v3-table-footer-font-size: .75rem;

    --v3-table-paginator-gap: .5rem;
    --v3-table-paginator-link-color: var(--v3-table-text-color);
    --v3-table-paginator-link-disabled-color: #ccc;
    --v3-table-paginator-select-padding: calc((var(--v3-table-line-height) - var(--v3-table-footer-font-size) - 2px) / 2) .5rem;

    --v3-table-cell-padding: .3125rem;
    --v3-table-cell-box-padding: 0 .3125rem;
    --v3-table-cell-no-data-bg: #fff;
    --v3-table-cell-no-data-padding: 1rem;
    --v3-table-cell-lv-padding: 1rem;
    --v3-table-cell-lv-base-width: 1.3125rem;
    --v3-table-cell-lv-width: 1rem;
    --v3-table-cell-expander-icon-height: .875rem;
    --v3-table-cell-expander-icon-width: .875rem;
    --v3-table-cell-expander-icon-left: 0;
    --v3-table-cell-expander-icon-top: -1px;
    --v3-table-cell-expander-icon-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>');
    --v3-table-cell-expander-loading-icon-url: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M16 9l-4 -4" /><path d="M8 9l4 -4" /></svg>');
    --v3-table-cell-expander-expanded-icon-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 9l6 6l6 -6"></path></svg>');
}
